
    

.mainwrapper{
    display:grid; 
    grid-template-columns: repeat(10, 100px); 
    grid-template-rows: repeat(10, 100px);
  
    width:1200px; 
    margin-left: 20%;
    background-color: rgb(178, 180, 245);
}


.header {
    grid-column: 4/9;
    font-size: 44px;
    text-align: center;
}


.weeklywrapper{
    display:grid; 
    position:relative; 
    grid-column: 2/11;
    grid-row: 4/9;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    
}

.cardbg{
   
    position:relative; 
    width:100%; 
    height:110%;
    z-index: -1;
    border-radius: 10px;
}

.weekweather {
 position: relative; 
    
 width:200px; 
 height:230px; 
 margin-left: 20%;
 margin-top: 20%;
}




.cardcontent{
 
    position: absolute; 
    background-color: rgb(199, 200, 223);
    width:90%; 
    height:98%; 
    z-index: 2;
    bottom:-5%;
    left:5%;
    border-radius: 20px;
}

.description{
    position:relative; 
    bottom:5px; 
 }
 

.description{
    position:relative; 
    bottom:-20%;
    text-align: center;
}

.image { 
    position:relative;
    width:100px; 
    height:100px; 
    left:20%;
    top:20%;
    
}

.highandlow{
    text-align: center;
}

.todayweather{
     width:100%;
     height:100%;
    grid-row:2/4; 
    grid-column: 5/8;
    position:relative;
    background-color: rgb(199, 200, 223);
}

.todaycontent{
    position:relative; 
    bottom:80%;
}

.navcontainer{
    background-color: rgb(146, 148, 216);
    grid-column: 3/10;
    grid-row:10/11;
    border-radius: 5px;
}

#userinputbox{
    position:absolute; 
    background-color: antiquewhite;
    width:250px; 
    height:30px; 
    left:50%;
    border:2px solid rgb(110, 112, 170);
    left:40%;
    bottom:7%;
}

.confirmbutton{
    position:absolute; 
    width:80px; 
    height:80px; 
    background-color: green;
    border-radius: 40px;
    left:55%; 
    bottom:6%
}

.confirmbutton:hover{
    width:75px; 
    height:75px; 
    background-color: rgb(133, 230, 133);
}